<form method="post" action="/addMovie">
	<label> TItle: </label>
	<input type="text" name ="title" >
	<br>

	<label> Description: </label>
	<input type="text" name ="description" >
	<br>

	<label> Genre: </label>
	<input type="text" name ="genre" >
	<br>

	<label> Year: </label>
	<input type="number" name ="year" >
	<br>

	<input type="submit">
</form>