<h1> Login page: </h1>

<form method="post" action="/login"> 
	<label> Email: </label>
	<input type="email" name="email">

	<label>Password </label>
	<input type="password" name="pass">

	<input type="submit">
</form>